@model MuscleHub.ViewModels.PagoViewModel

@{
    ViewData["Title"] = "Detalles del Pago";
}

<h1>Detalles del Pago</h1>

<div>
    <h4>Pago</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt class="col-sm-3">
            Método de Pago
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Metodo.Nombre)
        </dd>

        <dt class="col-sm-3">
            Miembro
        </dt>
        <dd class="col-sm-9">
            @($"{Model.Miembro.Nombre} {Model.Miembro.Apellido}")
        </dd>

        <dt class="col-sm-3">
            Correo del Miembro
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Miembro.Correo)
        </dd>

        <dt class="col-sm-3">
            Teléfono
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Miembro.Telefono)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.PagoId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
